.custom-font-saxmonoregular {
    font-family: 'saxmonoregular', sans-serif !important;
}

@font-face {
    font-family: 'saxmonoregular';
    src: url('../fonts/saxmono-webfont.eot');
    src: url('../fonts/saxmono-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/saxmono-webfont.woff') format('woff'),
    url('../fonts/saxmono-webfont.ttf') format('truetype'),
    url('../fonts/saxmono-webfont.svg#saxmonoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

